<div class="container">
  <div>
    <label>Course Full Name</label><input type="text">
    <label>Course Short Name</label><input type="text">
    <label>Summary</label><textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label for="">Reasons to have this course</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="buttons">
    <button class="confirm">Request the Course</button>
    <button class="cancel">Cancel</button>
  </div>
</div>