<div>
  <p>
    Przepisy o ochronie danych osobowych, do których odwołuje się upoważnienie do przetwarzania danych osobowych obejmują:
    Ustawa z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2016 poz. 922) określa zasady postępowania przy przetwarzaniu danych osobowych oraz prawa osób fizycznych, których dane osobowe są lub mogą być przetwarzane w zbiorach danych.
    Rozporządzenie MSWiA z dnia 29 kwietnia 2004 r. ws. dokumentacji przetwarzania danych osobowych oraz warunków technicznych i organizacyjnych, jakim powinny odpowiadać urządzenia i systemy informatyczne służące do przetwarzania danych osobowych (Dz. U. z 2004 nr 100 poz. 1024) określa sposób i zakres prowadzenia dokumentacji, podstawowe warunki techniczne i organizacyjne oraz wymagania w zakresie odnotowywania udostępniania danych osobowych i bezpieczeństwa ich przetwarzania.
    Rozporządzenie Ministra Administracji i Cyfryzacji z dnia 15 maja 2015 r. w sprawie trybu i sposobu realizacji zadań w celu zapewnienia przestrzegania przepisów o ochronie danych osobowych przez administratora bezpieczeństwa informacji.
    Rozporządzenie Ministra Administracji i Cyfryzacji z dnia 15 maja 2015 r. w sprawie sposobu prowadzenia przez administratora bezpieczeństwa informacji rejestru zbiorów danych.
    Przepisy ustawy i rozporządzenia są ogólnie dostępne jako jawne na stronie Sejmu, stronie Generalnego Inspektora Ochrony Danych Osobowych lub przez wpisanie do przeglądarki.
  </p>
  <p>
    PŁ prowadzi dokumentację opisującą sposób przetwarzania danych oraz środki techniczne, organizacyjne oraz warunki bezpieczeństwa, które definiuje:
  </p>
  <p>
    Polityka bezpieczeństwa danych osobowych w PŁ wraz z załącznikami
    Instrukcja zarządzania systemem informatycznym służącym do przetwarzania danych osobowych wraz z załącznikiem
    Regulamin ochrony danych osobowych w PŁ
    Instrukcja postępowania w sytuacji naruszenia ochrony danych osobowych
    Dokumentacja została wdrożona zarządzeniem nr 9/2017 Rektora PŁ z dnia 30 maja 2017r.; dostępne w dziale „wewnętrzne akty normatywne w PŁ".
  </p>
  <p>
    Dokumenty wewnętrzne w sprawie zasad ochrony danych osobowych przetwarzanych w PŁ
  </p>
  <p>
    TEST - Regulamin ochrony danych osobowych w PŁ - Zapoznanie się z regulaminem jest obowiązkowe, poprzedza nadanie upoważnienia do przetwarzania danych osobowych osobie, której wykonywane zadania lub powierzone obowiązki wiążą się z dostępem do takich danych
    Rejestr zbiorów danych przetwarzanych przez PŁ - Każdy ma prawo przeglądać rejestr: a) wersja elektroniczna przeznaczona do wglądu po zalogowaniu b) wersja papierowa dostępna w siedzibie Administratora Bezpieczeństwa Informacji
    Ochrona danych osobowych w procesie naboru na stanowiska w PŁ – dobre praktyki - Przeznaczone dla kierowników jednostek i personelu zaangażowanego w proces naboru pracowników w PŁ
    Postępowanie z danymi osobowymi pracowników jednostek w przypadku dokonywania zmian warunków wynagradzania za pracę - Dokument wskazuje na poprawność postępowania, w tym informowania w przypadku zmian w wynagradzaniu pracownika
    Zasady wyszukiwania pracowników w PŁ
    Wykaz zbiorów danych osobowych - zidentyfikowane zbiory ogólnouczelniane oraz pozostałe prowadzone w PŁ.
    Dopełnienie obowiązku informacyjnego wobec pracowników i współpracowników:
    1) Klauzula obowiązku informacyjnego dla pracowników zatrudnionych na umowę o pracę.
    2) Klauzula obowiązku informacyjnego dla osób zatrudnionych na umowę cywilnoprawną (zlecenia/dzieło/praktyki/o wolontariat).
  </p>
</div>