<div class="container">
  <div class="user">
    <img src="../../../assets/user.png" alt="user image">
    <p>Onur Yildiz</p>
    <p>902771</p>
  </div>
  <div class="user-infos">
    <div class="info">
      <p>Email: 902771@edu.p.lodz.pl</p>
      <p>Affiliation at: CKM</p>
    </div>
    <div class="courses">
      <p>Courses</p>
      <ul>
        <li><a>Course 1</a></li>
        <li><a>Course 2</a></li>
        <li><a>Course 3</a></li>
        <li><a>Course 4</a></li>
        <li><a>Course 5</a></li>
        <li><a>Course 6</a></li>
      </ul>
    </div>
  </div>
</div>