<div class="container">
  <div>
    <p>Personal Data</p>
    
    <div>
      <p>Personal Info</p>
      
      <ul>
        <li>First Name: <b>Onur</b></li>
        <li>Second Name: <b>Yildiz</b></li>
        <li>Date of Birth: <b>1997-07-30</b></li>
        <li>PESEL ID: <b>878787887</b></li>
      </ul>
    </div>
    <div>
      <p>Address</p>
      
      <ul>
        <li>Street: <b>XYXZ</b></li>
        <li>Nr <b>X</b></li>
        <li>Post Code <b>900</b></li>
        <li>City <b>Lodz</b></li>
      </ul>
    </div>
  </div>
  
  <div>
    <p>Student House</p>
    <div>
      <p>Data</p>
      
      <ul>
        <li>Address: <b>XXYZ</b></li>
        <li>Floor: <b>X</b></li>
        <li>Room <b>ABC</b></li>
        <li>Monthly Price: <b>XZ</b></li>
      </ul>
    </div>
  </div>
  
  <div>
    <pre>
      Uwaga! Opłat za dom studencki należy dokonywać na nr konta wygenerowany w zakładce "Dom studencki".
      
      Poniższy numer konta służy do dokonywania wszelkich wpłat dotyczących danego albumu.
      
      Numer ten obowiązuje dla wszystkich toków studiów przypisanych do danego albumu.
      
      zmiana kont, nowy numer konta:
      
      
      ZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
      
      
      Dokonując przelewu proszę podać w nazwie odbiorcy:
      
      Centrum Kształcenia Międzynarodowego Politechniki Łódzkiej
      
      ul. Żwirki 36
    </pre>
  </div>
  
  <div>
    <p>IT</p>
    
    <div>
      <p>General</p>
      
      <ul>
        <li>Wydział: <b>Centrum Kształcenia Międzynarodowego</b></li>
        <li>Mode of study: <b>Erasmus</b></li>
        <li>Długość studiów: <b>X</b></li>
        <li>Semestr: <b>2018/19 Z</b></li>
      </ul>
    </div>
  </div>
</div>