<div class="container">
  <div>
    <div class="title-container">
      <span class="title">Lorem 1</span>
      <span class="date">Date X</span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro autem laudantium quo eligendi nihil ullam amet, enim eius voluptatibus est esse aperiam earum, quam voluptatem, voluptas ut expedita fugit a?</p>
  </div>
  <div>
    <div class="title-container">
      <span class="title">Lorem 2</span>
      <span class="date">Date Y</span>
    </div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi beatae pariatur dolorem magni libero. Facere expedita voluptate ut atque officia, fugiat veritatis. Impedit, maxime esse? Ad eum incidunt nam?</p>
  </div>
  <div>
    <div class="title-container">
      <span class="title">Lorem 3</span>
      <span class="date">Date Z</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur tenetur sed illo, alias delectus odio expedita accusamus perspiciatis! Expedita, culpa consectetur. Voluptates aliquam nulla, voluptatibus sunt id earum quas necessitatibus.</p>
  </div>
</div>