<div class="container">
  <div>
    <ul>
      <li>
        <p class="title">Course</p>
        <p class="title">Grade</p>
      </li>
      <li>
        <p><a href="">Course 1</a></p>
        <p>A</p>
      </li>
      <li>
          <p><a href="">Course 2</a></p>
        <p>B</p>
      </li>
      <li>
        <p><a href="">Course 3</a></p>
        <p>F</p>
      </li>
      <li>
        <p><a href="">Course 4</a></p>
        <p>B</p>
      </li>
      <li>
        <p><a href="">Course 5</a></p>
        <p>A</p>
      </li>
      <li>
        <p><a href="">Course 6</a></p>
        <p>C</p>
      </li>
    </ul>
  </div>
</div>