<div class="container">
  <ul>
      <li>
          <div>
              <p>Area 1</p>
              <ul>
                  <li><a>Course 1</a></li>
                  <li><a>Course 2</a></li>
                  <li><a>Course 3</a></li>
                  <li><a>Course 4</a></li>
                  <li><a>Course 5</a></li>
              </ul>
          </div>
      </li>
      <li>
          <div>
              <p>Area 2</p>
              <ul>
                  <li><a>Course 1</a></li>
                  <li><a>Course 2</a></li>
                  <li><a>Course 3</a></li>
                  <li><a>Course 4</a></li>
              </ul>
          </div>
      </li>
  </ul>
</div>