<div class="container">
  <div>
    <div>
      <p>User Account</p>
    </div>
    <ul>
      <li><a href="">Course Prefs</a></li>
      <li><a href="">Calendar Prefs</a></li>
      <li><a href="">Sec Keys</a></li>
    </ul>
  </div>
  <div>
    <div>
      <p>Repositories</p>
    </div>
    <ul>
      <li><a href="">Manage Instances</a></li>
    </ul>
  </div>
  <div>
    <div>
      <p>Blogs</p>
    </div>
    <ul>
      <li><a href="">Blog Prefs</a></li>
      <li><a href="">External Logs</a></li>
      <li><a href="">Register External Log</a></li>
    </ul>
  </div>
  <div>
    <div>
      <p>Badges</p>
    </div>
    <ul>
      <li><a href="">Manage Badges</a></li>
      <li><a href="">Badge Prefs</a></li>
      <li><a href="">Backpack Settings</a></li>
    </ul>
  </div>
</div>

<div class="settings">
  <div>  
    <label for="">Setting 1</label>
    <select name="" id="">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      <option value="">Option 4</option>
    </select>
  </div>
  <div>
    <label for="">Setting 2</label>
    <input type="checkbox" name="" id="">
  </div>
  <div>
    <label for="">Setting 3</label>
    <select name="" id="">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      <option value="">Option 4</option>
    </select>
  </div>
</div>