li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: crimson;
}

.container > div {
  margin: .5em;
  float: left;
  height: 10em;
  width: 20%;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px grey;
  padding: 1em;
}

.container div > p {
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.settings {
  clear: both;
}

.settings div {
  margin-left: 1em;
  margin-top: 1.5em;
}

.settings label {
  font-weight: bolder;
  margin-right: 1em;
}

.settings select {
  padding: .5em 1em;
}