<div class="container">
  <div>
    <div class="title-container">
      <span class="title">Lorem A</span>
      <span class="date">Date 7</span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, &Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rerum porro sapiente, tempore veniam adipisci in iusto magnam doloribus alias dolore doloremque perspiciatis deleniti vitae, perferendis, optio et pariatur ipsum! adipisicing elit. Porro autem laudantium quo eligendi nihil ullam amet, enim eius voluptatibus est esse aperiam earum, quam voluptatem, voluptas ut expedita fugit a?</p>
  </div>
  <div>
    <div class="title-container">
      <span class="title">Lorem B</span>
      <span class="date">Date 8</span>
    </div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi beatae pariatur dolorem magni libero. Facere expedita voluptate ut atque officia, fugiat veritatis. Impedit, maxime esse? Ad eum incidunt nam?</p>
  </div>
  <div>
    <div class="title-container">
      <span class="title">Lorem C</span>
      <span class="date">Date 9</span>
    </div>
    <p>Lorem ipsum dolor sit amet &Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur at perspiciatis repudiandae nisi eius, tempora beatae dignissimos voluptas aspernatur voluptate quam consequuntur atque vero sapiente praesentium, deserunt nulla delectus dolor!, consectetur adipisicing elit. Aspernatur tenetur sed illo, alias delectus odio expedita accusamus perspiciatis! Expedita, culpa consectetur. Voluptates aliquam nulla, voluptatibus sunt id earum quas necessitatibus.</p>
  </div>
</div>